*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    /* overflow-x: hidden; */
}

#root{
    width: 100vw;
    height: 100vh;
    /* overflow-x: hidden; */

    /* common variables */
    --color-primary:#34C94B;
    --color-black:#121212;
    --color-white:#FFFFFF;
    --font-family: 'Poppins-SemiBold' ,sans-serif;
}