.button {
    background-color: var(--color-black);
    color: var(--color-primary);
    padding: 8px 16px;
    border-radius: 16px;
    border: none;
    outline: none;
    font-family: var(--font-family);
    font-weight: 600;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}